.container {
  position: absolute;
  top: 40%;
  border: 3px solid white;
  padding-bottom: 21px;
  left: 7%;
}

#buttons {
  padding-top: 50px;
  text-align: center;
  position: fixed;
  right: 93%;
  bottom: 93%;
}

.btn {
  border-radius: 5px;
  padding: 5px 25px;
  font-size: 15px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  font-family: 'Open Sans', 'sans-serif';
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
  background-color: #FF6656;
}

.carousel-caption {
  font-size: 21px;
  font-family: 'Questrial', sans-serif;
}

#nav {
  top: 125%;
  position: absolute;
  text-align: center;
  font-size: 18px;
  left: 115px;
  line-height: 170%;
}


#nav a {
  color: black;
}

#nav a:hover {
  color: #ba77d1;
}

#commentBox {
    position: absolute;
    top: 189%;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    right: 40%;
    font-size: 20px;
}


.submitButton {
  background-color: #000;
    border: none;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

label {
  color: black;
}

.button5 {
    background-color: white;
    color: black;
    border: 2px solid #000;
    border-radius: 8px;
}

.button5:hover {
    background-color: #000;
    color: white;
}


p {
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 20px #000, 0 0 30px #000, 0 0 40px #000, 0 0 55px #000, 0 0 75px #000;
}

#review {
  top: 179%;
  position: absolute;
  font-size: 25px;
  right: 45%;
  line-height: 170%;
  color: black;
  font-family: 'Questrial', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}
.weather-app, .weather-app_main, .weather-app_main__information {
  position: absolute;
  bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  margin: 0 auto;
  width: 400px;
}
.weather-app_main {
  position: absolute;
  bottom: 50px;
  background: #F5DB5C;
  width: auto;
  height: 11em;
  box-shadow: 0px 9px 30px #CCC;
  border-radius: 10px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: bounce-in 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
          animation: bounce-in 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}
.weather-app_main__information h1, .weather-app_main__information h2, .weather-app_main__information h3 {
  color: rgba(43, 45, 66, 0.7);
  margin: 0.57em 0;
  font-size: 1.7em;
}
.weather-app_main__information img {
  width: 65px;
  height: 65px;
}

@-webkit-keyframes bounce-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce-in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
