html {
  overflow: scroll;
margin: 0;
padding: 0;
}

.container {
  position: absolute;
  top: 40%;
  left: 7%;
}

#buttons {
  padding-top: 50px;
  text-align: center;
  position: fixed;
  right: 93%;
  bottom: 93%;
}

.btn {
  border-radius: 5px;
  padding: 5px 25px;
  font-size: 15px;
  text-decoration: none;
  margin: 20px;
  color: #fff;
  position: relative;
  display: inline-block;
  font-family: 'Open Sans', 'sans-serif';
}

.red {
  background-color: #e74c3c;
  box-shadow: 0px 5px 0px 0px #CE3323;
}

.red:hover {
  background-color: #FF6656;
}

.carousel-caption {
  font-size: 20px;
}
